body {
  margin: 0;
  padding: 0;

  font-family: Roboto, Myriad Pro, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.site-wrap {
  min-width: 940px;

  background-color: #849d8f;
  background-image: url("../img/ice-cream-1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
 }

.site-wrap-catalog {
  background: #849d8f;
}

.site-wrap::before,
.site-wrap::after {
  content: "";

  visibility: hidden;
}

.site-wrap::before {
  background-image: url("img/ice-cream-2.png");
}

.site-wrap::after {
  background-image: url("img/ice-cream-3.png");
}

a {
  text-decoration: none;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  cursor: pointer;
}

ul {
  list-style-type: none;
}

.gllacy-btn {
  padding: 10px 20px;

  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  color: #ffffff;

  background: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);

  border: none;
  border-radius: 50px;
}

.gllacy-btn:hover,
.gllacy-btn:focus {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.gllacy-btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/*Шапка*/
.header-wrap {
  display: flex;
  justify-content: space-between;

  padding-top: 9px;
}

.header-elements {
  display: flex;
  justify-content: space-between;

  width: 267px;
  margin: 14px 0;
}

.header-search__text,
.header-entrance__text,
.header-entrance__link,
.header-basket__text,
.header-contacts__text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.header-search {
  margin-left: 5px;
}

.header-search__wrap {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  width: 32px;
  height: 32px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.header-search__wrap svg {
  position: absolute;
  top: 7px;
}

.header-search__text {
  font-size: 0;
}

.header-search__form {
  display: none;
  position: absolute;
  right: 0;
  top: 36px;

  box-sizing: border-box;

  width: 342px;
  height: 85px;
  padding: 20px 15px;

  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.header-entrance__wrap {
  display: flex;
  align-items: center;

  position: relative;

  width: 93px;
  height: 32px;
  padding: 0 16px;

  box-sizing: border-box;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.header-entrance__text {
  margin-left: 30px;
}

.header-entrance__wrap svg {
  position: absolute;
  top: 6px;
  left: 18px;
}

.header-entrance__form {
  display: none;
  position: absolute;
  right: 0;
  top: 36px;

  box-sizing: border-box;

  width: 280px;
  height: 215px;
  padding: 20px 15px;

  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.header-basket {
  display: flex;
  align-items: center;

  position: relative;

  width: 117px;
  height: 32px;
  margin-right: 0;
  padding-left: 45px;

  box-sizing: border-box;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.header-basket svg {
  position: absolute;
  left: 15px;
}

.logo a,
fieldset {
  border: none;
}

.main-nav {
  display: flex;

  width: 560px;
  margin: 0;
  padding: 0;
}

.main-nav__items {
  display: flex;
  justify-content: space-between;

  width: 349px;
  margin: 0;
  padding: 0;
  margin: 19px 0;
  margin-left: 23px;
}

.main-nav__link {
  line-height: 18px;
 }

/*Контент*/
.main-box {
  position: relative;
 }

.main-box__contacts {
  position: absolute;
  top: -20px;
  right: 0;
}

.main-box__contacts-text {
  font-size: 14px;
  line-height: 18px;
  text-align: right;
}

.main-box__contacts-tel {
  font-size: 22px;
  line-height: 24px;
}

/*Слайдер*/
.slider {
  position: relative;

  margin-bottom: 50px;
  padding-top: 310px;
  
  text-align: center;
 }

.slider__items {
  margin: 0;
  padding: 0;
}

.slide {
  display: none;
}

.slider__title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 45px;
  
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider__btn {
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
}

.slider__controls {
  position: absolute;
  bottom: 13px;
  left: 0;
  z-index: 20;
  
  font-size: 0;
}

.slider__controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#ice-cream-1:checked ~ .site-wrap #slide-1,
#ice-cream-2:checked ~ .site-wrap #slide-2,
#ice-cream-3:checked ~ .site-wrap #slide-3 {
  display: block;
}

#ice-cream-1:checked ~ .site-wrap label[for="ice-cream-1"],
#ice-cream-2:checked ~ .site-wrap label[for="ice-cream-2"],
#ice-cream-3:checked ~ .site-wrap label[for="ice-cream-3"] {
  background-color: #ffffff;
}

#ice-cream-1:checked ~ .site-wrap {
  background-color: #849d8f;
  background-image: url("../img/ice-cream-1.png");
}

#ice-cream-2:checked ~ .site-wrap {
  background-color: #8996a6;
  background-image: url("../img/ice-cream-2.png");
}

#ice-cream-3:checked ~ .site-wrap {
  background-color: #9d8b84;
  background-image: url("../img/ice-cream-3.png");
}

.stock {
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
}

.stock__wrap {
  position: relative;

  width: 520px;
  padding: 15px 20px;
  
  border-radius: 20px;
 }

.stock__title {
  font-size: 35px;
  line-height: 41px;
 }

.stock__text {
  margin-bottom: 96px;
  font-size: 18px;
  line-height: 22px;
 }

.stock__wrap-crimson {
  background-color: #7a2c4c;
  background-image: url("../img/crimson-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
 }

.stock__wrap-chocolate {
  background-color: #6f4022;
  background-image: url("../img/chocolate-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
 }

.stock__link {
  position: absolute;
  right: 23px;
  bottom: 23px;
}

.hit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  text-align: center;
}

.hit__box {
  position: relative;

  width: 267px;
  margin-bottom: 35px;
}

.hit__img-svg {
  position: absolute;

  top: 0;
  left: 0;
}

.hit__img {
  margin-bottom: 10px;

  border-radius: 50%;
 }

.hit__price {
  position: absolute;
  top: 210px;
  left: 0;

  font-size: 45px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
 }

.hit__price-kg {
  margin-left: 35px;
  font-size: 30px;
}

.hit__price svg {
  position: absolute;
  top: 5px;
  left: 80px;
}

.advantage {
  margin-bottom: 40px;
  padding-left: 20px;
  padding-bottom: 15px;

  color: #323232;

  background-image: url("../img/waffle-background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;

  border-radius: 20px;
}

.advantage__text {
  margin: 0;
  padding-top: 25px;

  font-size: 24px;
  line-height: 30px;
}

.advantage__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  margin-top: 5px;
  padding: 0;
}

.advantage__item {
  position: relative;

  margin-bottom: -8px;
}

.advantage__item-img {
  position: absolute;
  top: 4px;
}

.advantage__item-text {
  width: 480px;
  margin-left: 55px;
  margin-right: 26px;

  font-weight: 400;
}

.main-box__wrap-blog-dispatch {
  display: flex;
  justify-content: space-between;
}

.blog {
  width: 520px;
  margin-bottom: 40px;
  padding: 0 20px 62px 20px;

  background-color: #ffffff;
  background-image: url("../img/strawberry-background.jpg");
  background-repeat: no-repeat;
  background-position: center;

  color: #323232;

  border-radius: 20px;
}

.blog__text {
  margin: 0;
  margin-top: 25px;

  font-weight: 500;
}

.blog__title {
  width: 300px;
  margin-top: 1px;
}

.blog__link {
  font-size: 24px;
  line-height: 30px;
  color: #323232;

  border-bottom: 2px solid #323232;
}

.dispatch {
  width: 560px;
  margin-bottom: 40px;
  padding: 5px 0;

  background-image: url("../img/postal-background.jpg");
  background-repeat: no-repeat;

  font-weight: 400;
  color: #5a5a5a;

  border-radius: 15px;
}

.dispatch__wrap {
  width: 510px;
  margin: 0 auto;
  padding: 15px 20px;
  padding-bottom: 36px;

  background-color: #ffffff;

  border-radius: 20px;
}

.dispatch__wrap-text {
  margin-bottom: 32px;
}

.dispatch__wrap-form input {
  width: 330px;
  margin-right: 10px;
  padding: 12px;
  padding-right: 21px;

  font-weight: 400;
  color: #d3d3d2;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.map {
  position: relative;
  left: -27px;
}

.map__img {
  margin-bottom: -5px;
}

.map svg {
  position: absolute;

  top: 138px;
  left: 266px;
}

.map__contacts {
  position: absolute;
  right: -27px;
  top: 62px;

  width: 252px;
  padding: 30px 25px;

  color: #323232;

  background-color: #ffffff;

  border-radius: 15px;
}

.map__contacts-items {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
}

.map__contacts-item-text--small {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.map__contacts-item-text--big {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.map__contacts-btn {
  width: 252px;
}

/*Каталог*/
.breadcrumbs {
  width: 267px;
  margin-top: 25px;
}

.breadcrumbs__items {
  display: flex; 
}

.choice-ice-cream {
  display: flex;
  

  width: 860px;
  margin-bottom: 40px;
}

.choice-ice-cream__sorting {
  widows: 190px;
}

.choice-ice-cream__price {
  width: 220px;
}

.choice-ice-cream__fat {
  width: 415px;
}

.choice-ice-cream__fillers {
  width: 702px;
}

.choice-ice-cream__btn {
  width: 144px;
}

/*Футер*/
.footer__wrap {
  display: flex;

  padding: 16px 0 25px 0;
}

.footer__social {
  display: flex;

  width: 200px;
  margin: 0;
  margin-top: 20px;
  margin-right: 215px;
  padding: 0;
}

.footer__social-link {
  margin-right: 14px;

  border: none;
}

.footer__social-link svg {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.footer__info-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 340px;
  margin: 0;
  margin-top: 10px;
  margin-right: auto;
  padding: 0;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.footer__info-item {
  position: relative;

  width: 162px;
}

.footer__info-link--suppliers {
  font-weight: 700;
}

.footer__info-link--document,
.footer__info-link--ecology {
  margin-left: -20px;
}

.footer__info-item svg {
  position: absolute;
  top: 5px;
  left: -23px;
}

.footer__academy {
  width: 220px;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.footer__academy-link--logo {
  margin-left: 30px;

  border: none;
}

.footer__academy-wrap {
  margin-left: 30px;
}

